
/* MEDIAS QUERYS */

#header{
    position:relative;
    background:linear-gradient(to left, rgba(0,0,0,0.8),rgba(0,0,0,0.2)),url('https://images.pexels.com/photos/1345085/pexels-photo-1345085.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 600px; 
}

#header a.nav-link{
    color:#fff;
    text-transform:uppercase;
    font-size:1rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
    transition:.5s;
}

#header a.nav-link:hover{
    transform:translateY(12px);
    color:#34dbd3;
}

#header .navbar-brand:focus{
    transform:scale3d(1.2,1.2,1);
}

#header .navbar-brand{
    color:transparent;
    background: url('../../img/logo.svg');
    background-repeat: no-repeat;
    background-size:contain;
    width:60px;
    height:60px;
    transition:.5s;
    border-radius:10px;
}

#header .navbar-toggler{
    transition:.25s;
    background:#bbd8d7;
    outline:none;
    cursor:pointer;
}

#header .miolo__text{
    display: table;
    height: 130px;
    margin:9em auto;
    padding:1rem 0;
}

#header .header__title{
    font-family: 'Lato', sans-serif;
    font-size:3.6rem;
    color:#fff;
    font-weight: 700;
    letter-spacing: 2px;
}

#header .header__text{
    font-family: 'Lato', sans-serif;
    text-align:center;
    padding-top:15px;
    color:#fff;
    font-weight: 600;  
}

#header::after{
    content:'';
    height:20px;
    width:100%;
    bottom:0;
    position: absolute;
    display: block;
    background:linear-gradient(120deg,rgba(0,0,0,1),rgba(0,0,0,0.2),
    #34dbd3,rgba(0,0,0,0.3),rgba(0,0,0,1) );
}
